body {
   font-family: Arial, sans-serif;
   margin: 0;
   padding: 0;
   background-image: url("img/2.jpg"); /* Путь к вашей фотографии */
   background-size: cover;
   background-position: auto;
}
.page-container {
   height: 100%;
   overflow-y: auto; /* Разрешим вертикальную прокрутку для контейнера */
   padding-bottom: 100px; /* Добавим отступ для футера */
}
.matches-news{
   color: #fff;
}

header {
   background-color: rgba(51, 51, 51, 0.8); /* Прозрачный цвет фона для улучшения читаемости текста */
   color: #fff;
   padding: 1px;
   border-bottom: 2px solid #fff
   
   
}
.Label {
   font-family: URW Chancery L, cursive;
   display: inline-block;
}

nav ul {
   list-style-type: none;
   margin: 0;
   padding: 0;
   text-align: center;
}

nav ul li {
   display: inline;
}

nav ul li a {
   color: #fff;
   text-decoration: none;
   padding: 0 15px;
}
.info-banner {
   text-align: left;
   background-color: rgba(51, 51, 51, 0.8);
   padding: 1px; /* Внутренние отступы */
   border-bottom: 2px solid #fff;
   overflow: hidden;
}
.info-banner ul {
   list-style-type: none;
   padding: 0;
   font-weight: 300;
   color: #fff;
}

.info-banner li {
   display: inline;
   margin-right: 20px; /* Добавьте немного отступа между элементами */
}

.info-banner ul {
   /* Убираем внешние отступы у текста */
   overflow: hidden; /* Скрытие текста, который не помещается внутри блока */
   white-space: nowrap; /* Запрет переноса строки */
   animation: marquee 30s linear infinite; /* Запуск анимации с бесконечным повторением */
}
/* Скрываем полосу прокрутки */
.info-banner ul::-webkit-scrollbar {
   display: none; /* Для WebKit (Chrome, Safari) */
}

.info-banner ul {
   scrollbar-width: none; /* Для Firefox */
}
@keyframes marquee {
   0% {
      transform: translateX(100%);
   }
   100% {
      transform: translateX(-100%);
   }
}
.main-content {
  
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   color: #ffffff; /* Изменяем цвет текста основного контента для лучшей читаемости */
   margin-bottom: 10px;
   text-align: center;
  
   

   
}

.container {
   display: flex;
   margin-bottom: 0px;
   max-width: 100%; /* Устанавливаем максимальную ширину для контейнера */
   overflow: hidden; /* Добавляем скрытие контента, если он выходит за пределы контейнера */
}



article {
   text-align: left;
   margin: 1%;
}
#table-container {
   margin: 0 auto;
   width: 80%; /* Ширина таблицы */
}

table {
   border-collapse: collapse;
   margin: 0 auto;
   /* width: 100%; */
}

table,
th,
td {
   border: 1px solid #ddd;
   padding: 8px;
   text-align: center;
}

th {
   background-color: rgba(51, 51, 51, 0.8);
}
.sidenav {
   width: 100%;
   max-width: 200px;
   align-items: stretch;
   background-color: rgba(51, 51, 51, 0.8);
   overflow-x: hidden;
   text-align: center;
   border-left: 2px solid #fff;
   display:flex;
   
   
}
@media (max-width: 920px) {
   .sidenav {
      max-width: 100%;
      display: inline-block;
      
   }
}
.menu {
   display: flex;
   flex-direction: row;
   gap: 10px;
   align-items: center;
   padding: 20px 0;
   justify-content: flex-end;
   align-items: flex-start;
   margin-top: 20px;
}
@media (max-width: 920px) {
   .menu {
      width: 100%;
      flex-direction: row;
      flex-wrap: wrap;
      
   }
}
/* Стили для кнопок */
.menu li {
   list-style-type: none; /* Убираем маркеры списка */
   /* margin-bottom: 10px; Расстояние между кнопками */
}

.menu li button {
   
   margin-top: -70px;
   display: flex;
   background-color: #39863b; /* Зеленый цвет фона */
   color: white; /* Белый цвет текста */
   padding: 10px 20px; /* Поля внутри кнопки */
   border: none; /* Убираем границу */
   cursor: pointer; /* Изменение курсора при наведении */
   border-radius: 5px; /* Закругление углов */
  
  
}

/* Стили для наведения курсора на кнопку */
.menu li button:hover {
   background-color: #45a049; /* Темно-зеленый цвет фона */
}

.container {
   display: flex;
   flex-direction: row-reverse; /* По умолчанию, горизонтальное расположение на больших экранах */
   justify-content: space-between;
   width: 100%; /* Распределение блоков по краям контейнера */
}

.sidenew {
   height: auto;
   display: flex;
   flex-direction: column;
   justify-content: flex-start; /* выравнивание содержимого вверху */
   align-items: center; /* выравнивание содержимого по центру горизонтально */
   z-index: 1;
   top: 220px; /* высота header */
   right: 0; /* расположение по правой стороне */
   background-color: rgba(51, 51, 51, 0.8);
   overflow-y: auto; /* Убираем вертикальную полосу прокрутки */
   overflow-x: hidden; /* Убираем горизонтальную полосу прокрутки */
   text-align: center;
   border-left: 2px solid #fff;
   width: 30%;
}

.mini-news-block {
   max-width: 100%; /* Изменено на 100% для растягивания на всю ширину экрана */
   padding: 20px;
   border-radius: 10px;
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
   transition: transform 0.3s ease;
   overflow: hidden;
   color: #fff;
}

.mini-news-block img {
   width: 90%;
   border-radius: 10px;
}

.mini-news-block h3 {
   margin-top: 10px;
   font-size: 16px;
}

.mini-news-block p {
   font-size: 14px;
}

.mini-news-block:hover {
   transform: scale(1.1);
}

.menu {
   list-style-type: none;
}

.menu li {
   padding: 8px 0;
}

.menu li a {
   text-decoration: none;
   color: #818181;
   font-size: 25px;
   display: block;
   padding: 8px 16px;
}

.menu li a:hover {
   color: #f1f1f1;
}

.info-banner ul {
   list-style-type: none;
   padding: 0;
   font-weight: 300;
   color: #fff;
   white-space: nowrap; /* Организация одного ряда текста */
   overflow: hidden; /* Скрытие текста, который не помещается в один ряд */
}

.matches {
   position: fixed;
   bottom: 0;
   left: 0;
   width: 100%;
   background-color: rgba(255, 255, 255, 0.9);
   overflow-y: auto; /* Разрешаем вертикальную прокрутку */
   max-height: 200px; /* Максимальная высота блока */
   color: #fff;
}

footer {
   background-color: rgba(51, 51, 51, 0.8);
   color: #fff;
   text-align: center;
   padding: 10px 0; /* Немного изменил padding для лучшего отображения */
   position: relative;
   left: 0;
   bottom: 0;
   width: 100%;
   border-top: 2px solid #fff;
   z-index: 1000; /* Установил положительное значение z-index */
}


@import url("https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap");
:root {
  --card-color: #041d5d;
}

.pricing {
  padding: 60px 0;


}
.pricing__grid {
  display: grid;
  gap: 150px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  display: flex;
  flex-direction: row;


}

.pricing-card {
   border-radius: 15px;
   display: flex;
   flex-direction: column;
   background: #01e728;
   border: 1px solid transparent;
   transition: all 0.6s ease;
   transform: perspective(1000px);
   width: 340px; /* Adjust the width as needed */
   height:70vh; /* Adjust the height as needed */
 }
 
.pricing-card:hover {
  transform: perspective(1000px) scale(0.97) translateZ(10px) rotateY(-10deg);
  border-color: #1b4cc8;
}
.pricing-card:hover .pricing-card__top {
  transform: perspective(1000px) translateZ(5px) scale(1.01) translateX(-20px) translateY(-15px);
  opacity: 0.9;
}
.pricing-card:hover .pricing-card__button a {
  transform: perspective(1000px) translateZ(5px) scale(1.01) translateX(-15px) translateY(5px);
}
.pricing-card__top {
  transition: all 0.6s ease;
  border-radius: 15px;
  background: var(--card-color);
  position: relative;
  padding: 20px 30px;
  color: #ffffff;
  display: flex;
  flex-direction: column;
  transform: perspective(1000px);
  height: 150vh;
 
}
.pricing-card__top img{
 width: 100%;
 height: 40vh; 
    
}

   

.pricing-card__title {
  font-weight: 700;
  font-size: 36px;
  margin-bottom: 80px;
}
.pricing-card__price {
  font-size: 700;
  font-size: 24px;
  align-self: flex-end;
}
.pricing-card__price span {
  font-weight: 300;
  font-size: 14px;
}
.pricing-card__body {
  padding: 30px;
  display: flex;
  flex-direction: column;
  flex: 1;
}
.pricing-card__pluses {
  flex: 1;
  margin-bottom: 30px;
}
.pricing-card__plus {
  font-size: 12px;
  color: #444;
  display: flex;
  align-items: center;
  font-weight: 300;
}
.pricing-card__plus:not(:last-child) {
  margin-bottom: 10px;
}
.pricing-card__plus-icon {
  margin-right: 15px;
  line-height: 1;
  color: var(--card-color);
}
.pricing-card__plus-text,
.pricing-card__button {
  display: flex;
  justify-content: flex-end;
}
.pricing-card__plus-text a,
.pricing-card__button a {
  display: inline-flex;
  height: 40px;
  width: 160px;
  align-items: center;
  justify-content: center;
  text-align: center;
  background: var(--card-color);
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  text-decoration: none;
  border-radius: 10px;
  transition: all 0.6s ease;
  border: 1px solid transparent;
  transform: perspective(1000px);
}
.pricing-card_free {
  --card-color: #051e5d;
}
.pricing-card_premium {
  --card-color: #051e5d;
}



 